<%- include("header")-%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Responsive Team Section Using HTML5 , CSS3 , Bootstrap 4</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles1.css">
</head>
<body>
    <section class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <br>
                        <br>
                        <h2>ABOUT <span>CONTEST TRACKER</span></h2>
                       
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-pen-fancy"></i>
                            <h4>What is this site?</h4>
                            <p>
                                If you want to keep track of all the contests that are happening on many platforms,then contest tracker is your site.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-dharmachakra"></i>
                            <h4>Why do we do this?</h4>
                            <p>
                                We believe we can save your time 🕥 and let you touch 👈🏼 the information from many different places, in one place. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tasks"></i>
                            <h4>What does Contest tracker do?</h4>
                            <p>
                                We bring all running and future contests between your hands 👐🏼 from many different online judge.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     
                </div>
        </div>
		
    </section>
</body>
</html>
