<!-- Remove the container if you want to extend the Footer to full width. -->


    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0d2c48;">
      <!-- Grid container -->
      <div class=" p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3"><a href="https://contest-tracker-vrks.onrender.com/team" style="font: 1000; color: white;"> MEET OUR TEAM</a></span>
            
              
            
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: CONTEST TRACKER
        
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    
  
  <!-- End of .container -->